<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<title>bs1.py</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
	<!--[if IE]>
		<script src="../js/html5shiv.min.js"></script>
	<![endif]-->
	<script src="{{ static_url("js/jquery.min.js") }}"></script>
	<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
	</head>
    <body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
						<div class="navbar-header">
							 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active">
									 <a href="#">Link</a>
								</li>
								<li>
									 <a href="#">Link</a>
								</li>
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											 <a href="#">Action</a>
										</li>
										<li>
											 <a href="#">Another action</a>
										</li>
										<li>
											 <a href="#">Something else here</a>
										</li>
										<li class="divider">
										</li>
										<li>
											 <a href="#">Separated link</a>
										</li>
										<li class="divider">
										</li>
										<li>
											 <a href="#">One more separated link</a>
										</li>
									</ul>
								</li>
							</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input class="form-control" type="text" />
								</div> <button type="submit" class="btn btn-default">Submit</button>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li>
									 <a href="#">Link</a>
								</li>
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											 <a href="#">Action</a>
										</li>
										<li>
											 <a href="#">Another action</a>
										</li>
										<li>
											 <a href="#">Something else here</a>
										</li>
										<li class="divider">
										</li>
										<li>
											 <a href="#">Separated link</a>
										</li>										
									</ul>
								</li>
							</ul>
						</div>
					</nav>
					<div class="jumbotron">
						<h1>
							Tornado & Bootscrap
						</h1>
						<p>
							这是一个使用Tornado & Bootscrap建立网站的系统，使用Tornado自带的模板系统。
						</p>
						<p>
							 <a class="btn btn-primary btn-large" href="#">Learn more，</a><br>
						</p>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<h2>
						软件、教程和调试工具
					</h2>
					<h4>
						本系统开发采用的软件:
					</h4>
					<ol>
						<li>
							ActivePython v2.7.10.12
							<a href="http://download.log001.com/ActivePython/ActivePython-2.7.10.12-win32-x86.msi" target="_blank">32位</a>
							<a href="http://download.log001.com/ActivePython/ActivePython-2.7.10.12-win64-x64.msi" target="_blank">64位</a>
						</li>
						<li>							
							<a href="http://download.log001.com/tornado/tornado-master.zip" target="_blank">Tornado</a>
							<a href="https://github.com/tornadoweb/tornado" target="_blank">Git</a>
							
						</li>
						<li>
							Bootstrap v3.3.0
							<a href="http://download.log001.com/bootstrap/bootstrap-3.3.0-dist.zip" target="_blank">dist</a>
							<a href="http://download.log001.com/bootstrap/bootstrap-3.3.0-source.zip" target="_blank">source</a>
						</li>
						<li>
							<a href="http://download.log001.com/jquery/jquery.min.js" target="_blank">jQuery v3.1.1</a>
						</li>
						<li>
							<a href="http://download.log001.com/artDialog/artDialog-master.zip" target="_blank">jQuery artDialog</a>
							<a href="https://github.com/aui/artDialog" target="_blank">Git</a>
						</li>
						<li>
							<a href="http://download.log001.com/FormValidation/bootstrap_forms.rar" target="_blank">FormValidation v0.6.2</a>							
						</li>
						<li>
							<a href="http://download.log001.com/font-awesome/font-awesome-4.7.0.rar" target="_blank">font-awesome v4.7.0</a>							
						</li>
						<li>
							<a href="http://download.log001.com/googleapis-fonts/googleapis-fonts-201609.zip" target="_blank">googleapis-fonts</a>							
						</li>
						<li>
							<a href="http://seajs.org/docs/" target="_blank">seajs</a>
							<a href="https://github.com/seajs/seajs/releases" target="_blank">github</a>
							<a href="http://download.log001.com/seajs/seajs-2.2.3.zip" target="_blank">2.2.3</a>
							<a href="http://download.log001.com/seajs/seajs-3.0.0.zip" target="_blank">3.0.0</a>
						</li>
						<li>
							<a href="http://download.log001.com/Advanced%20IP%20Scanner/ipscan24.exe" target="_blank">Advanced IP Scanner</a>							
						</li>
					</ol>
					<h4>
						教程:
					</h4>
						<ol>						
							<li>
								<a href="http://www.activestate.com/activepython" target="_blank">ActivePython英文教程</a>
							</li>
							<li>
								<a href="http://docs.pythontab.com/tornado/introduction-to-tornado/" target="_blank">tornado中文教程</a>
							</li>
							<li>
								<a href="http://www.tornadoweb.org/en/stable/" target="_blank">tornado英文教程</a>
							</li>
							
						</ol>
					<h4>
						调试工具:
					</h4>
					<ol>
						<li>
							<a href="lib/reload.py" target="_blank">Reload模块(类重新定义后,需要reload生效)</a>
						</li>
						<li>
							<a href="admin/uuid.py" target="_blank">生成一个uuid值(相当于windows的GUID)</a>
						</li>
						<li>
							<a href="admin/getenv.py" target="_blank">get environment variables(python获得系统参数)</a>
						</li>
						<li>
							<a href="http://tools.jb51.net/code" target="_blank">在线代码生成工具(json检验等)</a>
						</li>
						<li>
							<a href="http://tools.jb51.net/regex" target="_blank">在线正则表达式工具</a>
						</li>
						<li>
							<a href="http://www.json.org/json-zh.html" target="_blank">JSON使用说明</a>
						</li>
						
						<li>
							<a href="http://www.51xuediannao.com/demo.php" target="_blank">jQuery artDialog v6</a>
						</li>
						<li>
							<a href="http://www.wufangbo.com/demo/jquery/28/index.html#" target="_blank">jQuery artDialog(黑框)</a>
						</li>
						<li>
							<a href="download/批量编码工具.rar" target="_blank">批量编码工具(转换程序内码)</a>
						</li>
						<li>
							<a href="download/WinMerge-2.14.0-Setup.exe" target="_blank">WinMerge(文件代码比较)</a>
						</li>						
						<li>
							<a href="http://www.advanced-ip-scanner.com/cn/" target="_blank">Advanced IP Scanner</a>
						</li>

					</ol>
					<p>
				</div>
				<div class="col-md-4 column">
					<h2>
						代码模板
					</h2>
					<ol>
						<li>
							<a href="examples/setcookie.asp" target="_blank">Asp设定sessions和cookies</a>
						</li>
						<li>
							<a href="examples/show_sessions_cookies.asp" target="_blank">Asp显示sessions和cookies</a>
						</li>
						<li>
							<a href="examples/remove_sessions.asp" target="_blank">Asp清除sessions</a>
						</li>
						<li>
							<a href="examples/keep_session.asp" target="_blank">Asp保持session</a>
						</li>
						<li>
							<a href="examples/keep_session_by_function.py" target="_blank">Python保持session(通过function,优选这个方法)</a>
						</li>
						<li>
							<a href="examples/keep_session_by_class.py" target="_blank">Python保持session(通过class)</a>
						</li>
						<li>
							<a href="examples/set_server_cookie.py" target="_blank">set_server_cookie(python跨浏览器，跨PC)</a>
						</li>
						<li>
							<a href="examples/get_server_cookie.py" target="_blank">get_server_cookie(python跨浏览器，跨PC)</a>
						</li>
						<li>
							<a href="examples/curd_list3.py" target="_blank">列表显示3(逐行显示,合并单元格，显示多个表，需要预设session("userID"))</a>
						</li>
						<li>
							<a href="examples/curd_list5.py?sqltype=sqlite" target="_blank">列表显示5(artDialog小菜单,sqlite数据库，需要预设session("userID"))</a>
						</li>
						<li>
							<a href="examples/curd_list5.py?sqltype=access" target="_blank">列表显示5(artDialog小菜单,access数据库，需要预设session("userID"))</a>
						</li>
						<li>
							<a href="examples/curd_list5.py?sqltype=sqlserver" target="_blank">列表显示5(artDialog小菜单,sqlserver数据库，需要预设session("userID"))</a>
						</li>
						<li>
							<a href="{{a}}:8089" target="_blank">菜单框架(bootstrap菜单框架)</a>
						</li>
						<li>
							<a href="examples/send_sms.py" target="_blank">阿里大鱼发短信</a>
						</li>

					</ol>
				</div>
				<div class="col-md-4 column">
					<h2>
						测试站点
					</h2>
					<ol>
						<li>
							<a href="{{a}}:92" target="_blank">ActivePython(基础代码,公开)</a>
						</li>
						<li>
							<a href="{{a}}:8089" target="_blank">alidayu(阿里大鱼短信平台,尚未完成,公开)</a>
						</li>
						<li>
							<a href="{{a}}:85" target="_blank">AspCookie(Asp调用cookie,公开)</a>
						</li>
						<li>
							<a href="{{a}}:86" target="_blank">AspClass(Asp类的调用,公开)</a>
						</li>						
						<li>
							<a href="{{a}}:8087" target="_blank">artDialog</a>
						</li>
						<li>
							<a href="{{a}}:8086" target="_blank">bootstrap-login-forms</a>
						</li>
						<li>
							<a href="{{a}}:887" target="_blank">bootstrap-master(bootstrap菜单框架,公开)</a>
						</li>
						<li>
							<a href="{{a}}:88" target="_blank">bootstrap-modal-master(bootstrap特效,公开)</a>
						</li>
						<li>
							<a href="{{a}}:89" target="_blank">FormValidation(bootstrap_forms表单验证,公开)</a>
						</li>
						<li>
							<a href="{{a}}/formvalidation_test.html" target="_blank">formvalidation_test(bootstrap_forms表单验证,私有)</a>
						</li>
						<li>
							<a href="{{a}}:90" target="_blank">seajs(js前端框架,公开)</a>
						</li>
						<li>
							<a href="{{a}}:81/test.asp" target="_blank">cabr_fhs(防火所,私有)</a>
						</li>
						<li>
							<a href="{{a}}:811/test.asp" target="_blank">cabr_fhs(防火所utf-8,私有)</a>
						</li>
						<li>
							<a href="{{a}}:812/test.asp" target="_blank">cabr_fhs(防火所,_UTF-8_AP,私有)</a>
						</li>
						<li>
							<a href="{{a}}:82/test.asp" target="_blank">cabr(防火公司,私有)</a>
						</li>
						<li>
							<a href="{{a}}:821/test.asp" target="_blank">cabr(防火公司utf-8,私有)</a>
						</li>
						<li>
							<a href="{{a}}:822/test.asp" target="_blank">cabr(防火公司,_UTF-8_AP,私有)</a>
						</li>
						<li>
							<a href="{{a}}:91" target="_blank">flask.hello(windows版flask,私有)</a>
						</li>
						<li>
							<a href="{{a}}:93" target="_blank">database_manager(代码管理系统,私有)</a>
						</li>
						<li>
							<a href="{{a}}:932" target="_blank">d8(代码管理系统,_UTF-8_AP,私有)</a>
						</li>
						<li>
							<a href="{{a}}:84" target="_blank">mc.idesigned.cn(微信系统测试,私有)</a>
						</li>
						<li>
							<a href="{{a}}:8088" target="_blank">Z-Blog(博客系统,私有)</a>
						</li>
						<li>
							<a href="{{a}}:830/test/index.html" target="_blank">tableExport(jquery将table生成pdf，支持IE11，支持edge，不支持IE兼容模式。示例中issue支持IE非兼容模式，但是jsPDF不支持IE)</a>
						</li>
						<li>
							<a href="{{a}}:831" target="_blank">jsPDF(jquery直观生成pdf,支持IE6~IE9，不支持IE11，大部分支持edge)</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
			
			
			
			
		</div>
    </body>
</html>


